<%- include('header') -%>

<nav class="navbar fixed-top navbar-light bg-light">
	<div class="container-fluid d-flex">
		<a class="navbar-brand" href="#">Unauthorized</a>
	</div>
</nav>

<div class="row justify-content-center mt-5">
	<div class="col-md-12 col-sm-12">
		<div class="card shadow-lg border-0 rounded-lg mt-5 mx-auto w-50">
			<h3 class="card-header text-muted text-center">Unauthorized</h3>

			<span class="card-subtitle mb-2 text-muted text-center mt-3">
				This page cannot be loaded
			</span>

			<div class="card-body mx-auto">
				<a type="button" href="/" class="btn btn-sm btn-info text-white">
					Back To Login
				</a>
			</div>
		</div>
	</div>
</div>
